{% block title %}Deneme{% endblock %}

{% block body %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <button>API Çekmek İçin Tıkla</button>

    {% block javascripts %}
        <script src="public/js/deneme.js"></script>
    {% endblock %}
{% endblock %}