{% extends 'base.html.twig' %}

{% block title %}To-Do Planning{% endblock %}

{% block body %}
    <h1>Developer: {{ planning.developer }}</h1>
    <h1>Süre: {{ planning.sure }}</h1>
    <h1>Zorluk: {{ planning.zor }}</h1>
    <hr>
    <a href="/todoPlanning/public">Geri Dön</a>
{% endblock %}