<nav class="navbar navbar-expand-sm navbar-dark bg-primary mb-3">
    <div class="container">
        <a href="/todoPlanning/public/" class="navbar-brand">To-Do Planning</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mobile-nav">
            <span class="navbar-toggle-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="mobile-nav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a href="/todoPlanning/public/planning/providerOne.html.twig" class="nav-link">Provider-1</a>
                </li>
                <li class="nav-item">
                    <a href="/todoPlanning/public/planning/providerTwo.html.twig" class="nav-link">Provider-2</a>
                </li>
            </ul>
        </div>
    </div>
</nav>